
   .breadcrumbs {
    margin: 0; /* Убираем отступы */
    padding: 13px; /* Поля вокруг текста */
    background: #B8000C; /* Цвет фона */
   }
   .breadcrumbs li {
    display: inline-block; /* Размещаем список по горизонтали */

   }
   .breadcrumbs a {
    color: #fff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
   }
   .breadcrumbs li + li::before {
    content:"→" ; /* Разделитель ссылок */
    padding: 0 7px; /* Расстояние вокруг разделителя */
   }

 body {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        header {
            text-align: center;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }
